@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap");

/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #0072d3;
  --white-color: #fff;
  --main-transition: 0.5s;
}

::selection {
  background-color: var(--main-color);
  color: var(--white-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b transparent;
}

body {
  color: hsl(0 0% 42%/1);
  background-color: hsl(0 0% 98%/1);
}

:lang(ar) body {
  font-family: "Tajawal", sans-serif;
}

:lang(en) body {
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: inherit;
}

.section-container {
  padding-left: 90px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .section-container {
    padding-left: 25px;
    padding-right: 5px;
  }
}

.label-text {
  color: hsl(0 0% 31%/1);
}

.bg-primary-500 {
  background-color: #0072d3f2;
}

.text-primary-500 {
  color: #0072d3;
}

.link {
  color: hsl(0 0% 42% / 1);
  text-decoration-line: underline;
  text-decoration-color: #bdbdbd;
  text-underline-offset: 2px;
}

.link:hover {
  color: hsl(0 0% 41% / var(--tw-text-opacity));
  text-decoration-color: #6b6b6b;
}

.bg-light-950 {
  background-color: hsl(0 0% 74% / 1);
}

.rounded {
  border-radius: 25px;
}

.duration-100 {
  animation-duration: 0.1s;
  transition-duration: 0.1s;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.text-dark-500 {
  color: hsl(0 0% 23% / 1);
}

.hover\:bg-light-200:hover {
  background-color: #f5f5f5 !important;
}

.hover\:bg-light-400:hover {
  background-color: hsl(0 0% 91% / 1);
}

.bg-newsback {
  background-image: url(/download.png);
}

.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:lang(ar) .logo_name,
:lang(en) .logo_name {
  font-family: "Aref Ruqaa", serif !important;
}

/* :lang(en) .logo_name {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
} */

.dark .logo_name:hover {
  background-color: rgba(26, 26, 26, 0.5);
}

.hover\:bg-primary-500\/50:hover {
  background-color: #0072d3;
  color: #fff;
}

.duration-75 {
  transition-duration: 0.2s;
}

.prose h1 {
  margin-top: 2rem;
  text-wrap: pretty;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.3;
  --tw-text-opacity: 1;
  color: hsl(0 0% 4% / var(--tw-text-opacity));
}

@media (max-width: 767px) {
  .prose h1 {
    font-size: 2.3rem;
  }
}

.prose p {
  margin-bottom: 0.5rem;
  text-wrap: balance;
  font-size: 1.01rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(0 0% 23% / var(--tw-text-opacity));
}

.text-primary-600 {
  color: #0072d3;
}

.border-dark-50 {
  border-color: hsl(0 0% 42% / 1);
}

.social_button .hover\:bg-dark-400:hover {
  background-color: #0072d3;
  color: #fff;
}

.share_button .hover\:bg-dark-400:hover,
.copy_button:hover {
  background-color: hsl(0 0% 31%/1);
  color: hsl(0 0% 75%/1);
}

.from-light-50 {
  --tw-gradient-from: #fafafa var(--tw-gradient-from-position);
  --tw-gradient-to: hsla(0, 0%, 98%, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-white {
  --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),
    #fff var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.tippy-box[data-theme~="white-bg"] {
  background-color: white;
  color: black;
  /* لون النص */
  border: 1px solid #e2e8f0;
  /* حد خفيف */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tippy-box[data-theme~="white-bg"] .tippy-arrow {
  color: white;
}

.motion_div {
  transform: translate(-50%, -50%);
}

.dark .motion_div {
  background-color: hsl(0 0% 7% / 1);
}

#projects .motion_div {
  left: -35%;
  right: 30%;
}

:lang(ar) #projects .motion_div {
  left: 35%;
  right: -30%;
}

@media (max-width: 991px) {
  :lang(ar) #projects .motion_div {
    left: 0;
    right: 0;
  }
}

.motion_div::after,
.motion_div.header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}

.motion_div.header::after {
  top: -5px;
  border-top: inherit;
  border-bottom: 7px solid #fff;
}

.dark .motion_div::after {
  border-top-color: hsla(0, 0%, 7%, 0.5);
}

.dark .motion_div.header::after {
  border-bottom-color: hsla(0, 0%, 7%, 0.5);
}

#projects .motion_div::after {
  content: none;
}

.prose h4 {
  text-wrap: balance;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: hsl(0 0% 10% / var(--tw-text-opacity));
}

.prose h2 {
  margin-top: 20px;
  /* margin-bottom: 1rem; */
  text-wrap: balance;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: hsl(0 0% 5% / var(--tw-text-opacity));
}

.prose p {
  margin-bottom: 0.5rem;
  text-wrap: balance;
  font-size: 19px;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(0 0% 23% / var(--tw-text-opacity));
}

.prose ul {
  margin-bottom: 0.5rem;
  list-style-type: disc;
  --tw-text-opacity: 1;
  color: hsl(0 0% 31% / var(--tw-text-opacity));
}

.prose li {
  margin-bottom: 0.25rem;
  color: hsl(0 0% 31% / 1);
}

li.decimal {
  list-style-type: decimal;
}

li.disc {
  list-style-type: disc;
}

.prose ol {
  margin-top: 0.5rem;
  margin-right: 25px;
  list-style-type: decimal;
}

code {
  color: #eb5757;
  padding: 0.2em 0.4em;
  background: hsla(44, 6%, 50%, 0.15);
  border-radius: 3px;
  font-size: 85%;
  font-family: "Roboto Mono", monospace;
}

.dark .text-black,
.dark .label-text .w-full,
.dark .line-clamp-4 {
  color: #fff;
}

.link:is(.dark *) {
  --tw-text-opacity: 1;
  color: hsl(0 0% 74% / var(--tw-text-opacity));
  text-decoration-color: #6b6b6b;
}

.link:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: hsl(0 0% 81% / var(--tw-text-opacity));
  text-decoration-color: #bdbdbd;
}

.label-text:is(.dark *) {
  --tw-text-opacity: 1;
  color: hsl(0 0% 81% / var(--tw-text-opacity));
}

.dark\:text-light-500:is(.dark *) {
  --tw-text-opacity: 1;
  color: hsl(0 0% 86% / var(--tw-text-opacity));
}

.dark\:bg-dark-900:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: hsl(0 0% 5% / var(--tw-bg-opacity));
}

.dark\:bg-dark-800\/50:is(.dark *) {
  background-color: hsla(0, 0%, 7%, 0.5);
}

.dark\:border-dark-700:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: hsl(0 0% 10% / var(--tw-border-opacity));
}

.dark\:bg-dark-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: hsl(0 0% 7% / var(--tw-bg-opacity));
}

.dark\:hover\:text-light-200:hover:is(.dark *) {
  color: hsl(0 0% 96% / 1);
}

.dark\:hover\:bg-dark-300:hover:is(.dark *) {
  background-color: hsl(0 0% 36% / 1);
}

.dark\:hover\:bg-dark-800:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: hsl(0 0% 7% / var(--tw-bg-opacity));
}

.dark\:ring-offset-dark-500:is(.dark *) {
  --tw-ring-offset-color: #3b3b3b;
}

.dark\:hover\:text-primary-500:hover:is(.dark *) {
  color: var(--main-color);
}

.dark\:text-primary-500:is(.dark *) {
  color: var(--main-color);
}

.dark\:to-dark-900:is(.dark *) {
  --tw-gradient-to: #0d0d0d var(--tw-gradient-to-position);
}

.dark\:via-dark-800:is(.dark *) {
  --tw-gradient-to: hsla(0, 0%, 7%, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),
    #121212 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.dark\:from-dark-900:is(.dark *) {
  --tw-gradient-from: #0d0d0d var(--tw-gradient-from-position);
  --tw-gradient-to: hsla(0, 0%, 5%, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.dark\:border-dark-700:is(.dark *) {
  border-color: hsl(0 0% 10% / 1);
}

.prose h1:is(.dark *) {
  color: hsl(0 0% 98% / 1);
}

.dark\:ring-offset-dark-500:is(.dark *) {
  --tw-ring-offset-color: #3b3b3b;
}

.text-dark-50 {
  color: hsl(0 0% 42% / 1);
}

.dark\:border-dark-700:is(.dark *) {
  border-color: hsl(0 0% 10% / 1);
}

.prose a:is(.dark *) {
  color: hsl(0 0% 74% /1);
}

.prose h4:is(.dark *) {
  color: hsl(0 0% 94% / 1);
}

.prose p:is(.dark *) {
  color: hsl(0 0% 86% / 1);
}

.adver_area {
  background-image: url("/adback.9e8dc752.svg");
  background-size: cover;
}

.hover\:text-dark-950:hover {
  color: hsl(0 0% 4% / 1);
}

.text-dark-500 {
  color: hsl(0 0% 23% / 1);
}

.hover\:\!text-dark-50:hover {
  color: black !important;
}

.dark .bg-dark-300:hover {
  background-color: hsl(0 0% 36% / 1);
}

.\!text-dark-900 {
  color: hsl(0 0% 5% / 1) !important;
}

.prose h6 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-wrap: balance;
  font-size: 1.5rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(0 0% 15% / var(--tw-text-opacity));
}

.prose p {
  margin-bottom: 0.5rem;
  text-wrap: balance;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(0 0% 23% / var(--tw-text-opacity));
}

.dark .contact_link:hover {
  background-color: #5c5c5c !important;
}

.popover-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.phoneMenu {
  transition: all 0.4s ease-in-out;
}

.dark\:border-dark-700:is(.dark *) {
  border-color: hsl(0 0% 10%/1);
}

.popover-bg:is(.dark *) {
  background-color: hsl(0 0% 7% / 1);
}